extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Athena Ozanich

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a 33yr old Transgender Mother, LGBTQA activist of sorts with a need for creative expression, and the desire to use that creativity to positively affect others. 
            |I love helping others reach their goals, and testing the limits of my experience. Having finished the Front End Web Development Techdegree through Treehouse, I was offered an contractor position mentoring students upon my graduation.
            |I am now enrolled in the Treehouse Fulll Stack Javascript Techdgree persuing a certification in Full Stack Javascript web development.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node.js
          li Pug
          li Javascript
          li Html 
          li Css
        h6 Contact Info

        ul
          li 234-232-4775
          li athenaozanich@gmail.com

        a.button.expanded(href='https://linkedin.com/in/athena-ozanich/') LinkedIn
        a.button.expanded(href='https://github.com/athenaozanich') GitHub
        a.button.expanded(href='https://twitter.com/AthenaOneFight') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  